<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>退出提示</title>
    <style>
        html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,span,a,b,img,em,del,label,form,fieldset,input,p,th,td{margin:0;padding:0;}
        h1,h2,h3,h4,h5,h6{font-size:100%;}
        body{font:12px/150% "Microsoft Yahei",Arial,Verdana,"\5b8b\4f53";color:#666;}
        a{color:#09F;text-decoration:none;outline:none;}
        a:hover{text-decoration:underline;}
        .w{width:550px;margin:150px auto;background-color:#f2f2f2;border:1px solid #ddd;border-radius:6px;padding:20px; font-size:14px; text-align:center; line-height:40px;}
        .green{color:#06b71f;font-size:30px; line-height:40px;}
    </style>
</head>
<body>
<div class="w" id="content">
    <svg width="100" height="70" viewBox="-20 -20 100 70">
        <g class="transform-group">
            <g transform="translate(0, 25.375) scale(1, -1) scale(0.05, 0.05)">
                <path d="M512.006144-207.902976c-0.043008 0-0.083968 0-0.126976 0-68.690944 0.016384-135.341056 13.4912-198.09792 40.052736-60.60032 25.648128-115.01568 62.352384-161.733632 109.09184S68.651008 42.413824 43.031552 103.027456C16.499712 165.795584 3.054592 232.45184 3.072 301.143808c0.016384 68.690944 13.492224 135.340032 40.05376 198.09792 25.649152 60.60032 62.353408 115.01568 109.092864 161.733632 46.74048 46.718976 101.173248 83.397632 161.784832 109.017088C376.730624 796.505856 443.350016 809.952 511.992832 809.952c0.04608 0 0.080896 0 0.126976 0 68.690944-0.016384 135.340032-13.492224 198.096896-40.05376 60.60032-25.649152 115.014656-62.353408 161.732608-109.093888s83.396608-101.172224 109.017088-161.785856c26.530816-62.769152 39.974912-129.425408 39.958528-198.116352-0.022528-95.492096-26.653696-188.572672-77.01504-269.180928l-52.10624 32.553984c44.25728 70.839296 67.6608 152.66816 67.68128 236.642304 0.01536 60.423168-11.798528 119.026688-35.111936 174.180352-22.523904 53.28896-54.781952 101.15584-95.879168 142.271488-41.096192 41.116672-88.947712 73.397248-142.225408 95.946752C631.126016 736.656128 572.52864 748.497664 512.105472 748.512c-0.036864 0-0.074752 0-0.111616 0-60.38528 0-118.949888-11.812864-174.06976-35.111936-53.287936-22.523904-101.154816-54.782976-142.271488-95.879168-41.116672-41.097216-73.397248-88.948736-95.946752-142.226432C76.366848 420.150016 64.526336 361.55264 64.512 301.128448c-0.014336-60.423168 11.798528-119.026688 35.111936-174.180352 22.523904-53.28896 54.782976-101.154816 95.879168-142.272512 41.096192-41.115648 88.948736-73.396224 142.226432-95.944704 55.143424-23.339008 113.7408-35.17952 174.164992-35.193856 0.034816 0 0.077824 0 0.111616 0 51.145728 0 101.280768 8.548352 149.03296 25.408512 46.186496 16.309248 89.196544 40.031232 127.837184 70.506496l38.047744-48.24064c-43.942912-34.659328-92.87168-61.641728-145.42848-80.19968C627.160064-198.174976 570.134528-207.902976 512.006144-207.902976zM765.62432 705.48352M765.62432 705.48352M764.032 706.477824M765.62432 705.48352M764.032 706.477824M765.62432 705.48352M764.032 705.48352M224.538624 293.760768l65.235968 52.860928 130.543616-96.318464c0 0 180.251648 186.474496 354.28352 273.492992l24.858624-28.00128c0 0-217.521152-180.256768-329.399296-419.591168L224.538624 293.760768 224.538624 293.760768zM224.538624 293.760768" fill="#06b71f"></path>
            </g>
        </g>
    </svg>
    <h1 class="green">系统已安全退出！</h1>
    <p>若需再次打开票务系统，请点击链接：<a href = '{{ url('/site/login') }}'>登录</a></p>
</div>
</body>
</html>