{% extends "@app/views/common/layout.twig" %}
{% set title ='修改密码' %}
{% block content %}
    <div class="container">
        <div class="row margin-top-20">
            <div class="col-md-8">
                <form action="" method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label">原始密码</label>

                        <div class="col-md-5">
                            <input type="password" name="password_old" id="password_old" class="form-control"
                                   placeholder="请输入原始密码"/>
                        </div>
                        <span class="control-label-left col-md-5 text-danger" style="display: none">请输入原密码</span>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">新密码</label>

                        <div class="col-md-5">
                            <input type="password" class="form-control" name="password_new" id="password_new"
                                   placeholder="请输入新密码"/>
                        </div>
                        <span class="control-label-left col-md-5 text-danger" style="display: none">请输入新密码</span>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">密码确认</label>

                        <div class="col-md-5">
                            <input type="password" class="form-control" name="password_confirm" id="password_confirm"
                                   placeholder="请再次输入新密码"/>
                        </div>
                        <span class="control-label-left col-md-5 text-danger" style="display: none"></span>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-info" onclick="validate_form()">修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url('js/register.js') }}"></script>
    <script>
        function validate_form() {
            //原始密码检测
            var password_obj = $('#password_old');
            password_obj.parent().next().hide();
            var password = password_obj.val();
            if (!password || password == null || password == undefined) {
                password_obj.focus();
                password_obj.parent().next().show();
                return false;
            }
            //检测新密码
            var password_new_obj = $('#password_new');
            password_new_obj.parent().next().hide();
            var password_new = password_new_obj.val();
            if (!password_new || password_new == null || password_new == undefined) {
                password_new_obj.focus();
                password_new_obj.parent().next().show();
                return false;
            }
            var password_new_result = verify_password('#password_new');
            if (!password_new_result) {
                password_new_obj.focus();
                return false;
            }
            //检测密码确认
            var password_confirm_obj = $('#password_confirm');
            password_confirm_obj.parent().next().hide();
            var password_confirm = password_confirm_obj.val();
            if (!password_confirm || password_confirm == null || password_confirm == undefined) {
                password_confirm_obj.focus();
                password_confirm_obj.parent().next().text('请再次输入新密码');
                password_confirm_obj.parent().next().show();
                return false;
            }
            if (password_new != password_confirm) {
                password_confirm_obj.focus();
                password_confirm_obj.parent().next().text('两次密码输入不相同');
                password_confirm_obj.parent().next().show();
                return false;
            }
            $.ajax({
                url: '/site/ajax-password-save',
                data: {'_csrf': '{{ app.request.csrfToken }}', 'password': password, 'password_new': password_new},
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    if (data.success) {
                        layer.alert(data.msg, {
                                skin: 'layui-layer-molv',
                                closeBtn: 1,
                                shift: 5
                            }
                            , function (index) {
                                window.location.href = '/site/login';
                            });
                    } else {
                        layer.alert(data.msg)
                    }
                }
            })
        }

    </script>
{% endblock %}